.Button {
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Increase {
    background-color: #3399ff;
    color: #0c08fc;
}

.Decrease {
    background-color: #ff3333;
    color: #820707;
}

.Check {
    background-color: #66ff33;
    color: #057a1a;
}

.Delete {
    background-color: #cc0000;
    color: #850000;
}