.Button {
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Increase {
    background-color: #3399ff;
}

.Decrease {
    background-color: #ff3333
}

.Check {
    background-color: #66ff33
}

.Delete {
    background-color: #cc0000
}